body{
    background-image: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#h {
    background-color: rgba(0, 0, 0, 0.733);
    width: 300px;
    height: 120px;
color: white;
    position: absolute;
    left: 40%;
    top: 30%;
    border-radius: 20px;
    padding: 10px;
}
#h p {
margin-left: 10px; }
#h h1 {
    margin-left: 80px }

#e {
    background-color: rgba(0, 0, 0, 0.733);
    width: 300px;
    height: 120px;
color: white;
    position: absolute;
    left: 40%;
    top: 50%;
    border-radius: 20px;
    padding: 10px;
}